<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "nav"}}
<div class="container">
	<div class="row">
		<ul>
			<li><a href="/json">Outputting JSON (Simple routing)</a></li>
			<li><a href="/json/a/b/c">Outputting JSON (Wildcard routing)</a></li>
			<li><a href="/html">HTML template (Simple routing)</a></li>
			<li><a href="/text">TEXT template (Simple routing)</a></li>
			<li><a href="/project.css">Static File (Simple routing)</a></li>
			<li><a href="/img.jpg">Preload File (Simple routing)</a></li>
	</div>
</div>
{{template "foot"}}
  </body>
</html>
