html,body {	overflow-x: hidden; }
body { padding-top: 70px; }
footer { padding: 30px 0; }

.goods {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	max-height: 500px;
	padding: 15px 0;
}

.goods .name {
	position: absolute;
	top: 30%;
	left: 0;
	color: #fff;
	font-weight: 300;
	font-size: 24pt;
	width : 100%;
	text-align: center;
}

.goods .price {
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: 800;
	font-size: 18pt;
	color: #f00;
}

.goods .overly {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 100%;
	display: block;
}

.goods:hover .overly {
	background: rgba(0, 0, 0, 0.3);
	visibility: visible;
}
